* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(109, 153, 179, 0.6) 0 0), url(https://www.wallpaperbetter.com/tr/hd-wallpaper-thxjh) no-repeat;
background-image: url(https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 5rem;
    color: rgb(245, 172, 36);
}

.form {
    display: flex;
    justify-content: center;

}

.btnDiv {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.btn {
    width: 250px;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid rgb(245, 172, 36);
    color: white;
    background: none;
    cursor: pointer;
    transition: background-color .5s;
}

.btn:hover {
    background-color: rgb(245, 172, 36);
}

.btn:active {
    transform: scale(1.1);
}

::placeholder {
    color: whitesmoke;

}

.inputText {
    margin-top: 10px;
    width: 600px;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.4rem;
    border-bottom: 3px solid rgb(245, 172, 36);

}

.info {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.info p {
    margin-top: 20px;
}

.genelDeger {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.genelDeger .fa-circle {
    font-size: 22px;
    transform: translate(10px, 25px);

}

.genelDeger .fa-c {
    transform: translate(10px, 25px);
    font-size: 4rem;
}

#sicaklik {

    font-size: 4rem;
}

.his {
    display: flex;
    justify-content: center;
}

.his .fa-c {
    font-size: 2rem;
    transform: translate(10px, 25px);
}

.his .fa-circle {
    font-size: 1rem;
    transform: translate(10px, 20px);
}

.orange-bg {
    background-color: orange;
  }
